*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background: blueviolet;
}
#app{
    width: 50%;
    
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    height: 80vh;
    border-radius: 1rem;
    
}



#page_heading{
    color:#3c86e7;
    font-size: 1rem;
    
}



.input_area{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    
    
    
}

.input_box{
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    margin-bottom: 1rem;
    width: 100%;
    height: 80%;
}

.para{
    /* display: none; */
}

