*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background: black;
}
#app{
    width: 30%;
    
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    height: 90vh;
    border-radius: 1rem;
    
    
}



#page_heading{
    color:#3c86e7;
    font-size: 1.5rem;
    margin:1rem auto;
    
}



.input_area{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    
    
    
}

.input_box{
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    margin-bottom: 1rem;
    width: 100%;
    height: 80%;
    background: whitesmoke;
}



input:focus{
    outline: none;
}

#formSubmit{
    width: 100%;
    height: 7rem;
    color: white;
    background: #3c86e7;
    border-radius: 1rem;
}

.para{
    /* display: none; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 1rem auto;
}

p{
    font-size: 0.9rem;
}




/* For mobile phones */
@media (min-width:320px) and (max-width:480px){
    #app{
        width: 80%;
        border-radius: 1.5rem; 
    }

    p{
        font-size: 0.7rem;
    }
}